<div class="card-header mt-3">
    <h2 class="text-center">Paskaitų sąrašas</h2>
</div>
<div class="d-flex mt-3">
    <a class="btn btn-success" routerLink="/lectures/new">
        Pridėti naują paskaitą
    </a>
</div>
<div class="table mt-3">
    <thead>
        <tr>
            <th>Nr.</th>
            <th>Pavadinimas</th>
            <th>Grupe</th>
            <th>Data</th>
            <th>Aprašas</th>
            <th>Veiksmai</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let lecture of lectures; let i=index;">
            <td>{{i+1}}</td>
            <td>{{ lecture.name }}</td>
            <td>{{ getGroupName(lecture.group_id) }}</td>
            <td>{{ lectureDate(lecture.date) }}</td>
            <td>{{ lecture.description }}</td>
            <td>
                <a class="btn btn-success" [routerLink]="['/lectures',lecture.id]">Redaguoti</a>&nbsp;&nbsp;&nbsp;
                <button class="btn btn-danger" (click)="deleteLecture(lecture.id!)">Istrinti</button>
            </td>
        </tr>
    </tbody>
</div>