<div class="card-header mt-3">Grupiu sarasas</div>
<div class="d-flex mt-3">
    <a class="btn btn-success" routerLink="/groups/new">
        Sukurti grupe
    </a>
</div>
<div class="table mt-3">
    <thead>
        <tr>
            <th>Nr.</th>
            <th>Pavadinimas</th>
            <th>Kursas</th>
            <th>Destytojas</th>
            <th>Pradzios data</th>
            <th>Pabaigos data</th>
            <th>Veiksmai</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let group of groups; let i=index;">
            <td>{{i+1}}</td>
            <td>{{ group.name }}</td>
            <td>{{ getCourseName(group.course_id) }}</td>
            <td>{{ getLecturerName(group.lecturer_id) }}</td>
            <td>{{ convertStartDate(group.startdate) }}</td>
            <td>{{ convertEndDate(group.enddate) }}</td>
            <td>
                <a class="btn btn-success" [routerLink]="['/groups',group.id]">Redaguoti</a>&nbsp;&nbsp;&nbsp;
                <button class="btn btn-danger" (click)="deleteGroup(group.id!)">Istrinti</button>
            </td>
        </tr>
    </tbody>
</div>