<div class="card-header">Atnaujinti grupės informaciją</div>
<div class="card-body">
    <form id="ngForm" (ngSubmit)="groupSubmit(f)" #f="ngForm">

        <div class="mb-3">
            <label for="" class="form-label">Pavadinimas</label>
            <input type="text" class="form-control" name="name" value="" ngModel [(ngModel)]="name">
        </div>
        <div class="mb-3">
            <label for="" class="form-label">Kursas</label>
            <select class="form-control" name="course_id" [(ngModel)]="course_id">
                <option *ngFor="let course of courses; let i=index" [value]="course.id">{{ course.name }}</option>
            </select>
        </div>
        <div class="mb-3">
            <label for="" class="form-label">Destytojas</label>
            <select class="form-control" name="lecturer_id" [(ngModel)]="lecturer_id">
                <option *ngFor="let lecturer of lecturers; let i=index" [value]="lecturer.id">{{ lecturer.name }} {{ lecturer.surname }}</option>
            </select>
        </div>
        <div class="mb-3">
            <label for="" class="form-label">Pradzios data</label>
            <input type="date" class=" form-control" name="startdate" value="" ngModel [(ngModel)]="startdate">
        </div>
        <div class="mb-3">
            <label for="" class="form-label">Pabaigos data</label>
            <input type="date" class="form-control" name="enddate" value="" ngModel [(ngModel)]="enddate">
        </div>
        <button class="btn btn-success" type="submit">Atnaujinti</button>
    </form>
</div>